
:root{
  --black:#2C3333 ;
  --purple:#700B97;
  --blue:#5800FF;
  --profileShadow:8px 4px 17px 2px rgba(223, 8, 176, 0.25);
  --buttonBg:linear-gradient(98.65deg,#700B97 0%,#5800FF 100% );
  --cardColor:#212121;
  --inputbox:#7F8487;
  --gray:#7F8487;
 --white:#FEFBF6;
 --darkpurple:#400D51;
 --hrColor:#3D3C42;
 --boxShadow:black;
 --seagreen:#00dbde;
 --pink:#fc00ff;
 --red:#BD1616;
 --green:#367E18;
 --yellow:#FFB200;
 --lightblue:#3AB4F2;
 
}

.App{
  overflow:visible;
  
  padding:1rem 1rem;

}
.blur{
  position:absolute;
  width:22rem;
  height:14rem;
  border-radius:50%;
  background:#2A0944;
  filter:blur(72px);

}
.button{
  display:flex;
  justify-content: center;
  align-items: center;
 border:none;
 border-radius: 0.5rem;
 color:var(--white);
 background: var(--buttonBg);
 transition: all 100ms ease-out;
}


.button:hover{
  cursor: pointer;
  color:var(--white);
  background: transparent;
  border: 2px solid var(--white);
}
::placeholder {
  color:var(--black)
}
::-webkit-scrollbar{
  display:none;
}