<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/mainpage.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/fca5e19aaa.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/logo.png" type="image/png">

    <!-- <link rel="manifest" href="site.webmanifest"> -->

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">



    <script src="https://kit.fontawesome.com/fca5e19aaa.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/mainpage.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">







</head>

<body>


    <div class="header_container">
        <div class="header1">
            <div class="inner_header">
                <div class="logo_container">
                    <h1><i class="fa-solid fa-person-walking-luggage"></i><span>Hotel Marian</span></h1>
                </div>
                <ul class="navigation">
                    <a href="/">
                        <li>Home</li>
                    </a>
                    <a href="/login">
                        <li>Login</li>
                    </a>
                    <a href="/about">
                        <li>About</li>
                    </a>
                    <a href="/about">
                        <li>Contact Us</li>
                    </a>
                </ul>
            </div>
        </div>
        <hr>
        <div class="header2">
            <div class="inner_header">
                <ul class="navigation2">
                    <a href="/main">
                        <li>HOME</li>
                    </a>
                    <a href="login/room">
                        <li>ROOMS</li>
                    </a>
                    <a href="login/gallery">
                        <li>GALLERY</li>
                    </a>
                    <a href="login/attraction">
                        <li>ATTRACTIONS</li>
                    </a>
                    <a href="login/services">
                        <li>SERVICES</li>
                    </a>

                </ul>

            </div>
        </div>
    </div>



    <div class="hidden">

    </div>





    <section id="attraction" class="attraction">


        <div class="attraction_element">
            <h1>Attractions</h1>

        </div>
        <div class="attraction_element2">

            <figure class="attractioncontainer1" style="width: 20rem;height:26rem;overflow-x:hidden">
                <div class="figure_img">
                    <img src="/images/img3.jpg" class="card-img-top" alt="..." style="width:20rem;height:200px">
                <i class="fa-solid fa-arrow-left" id="left_arrow_attraction"></i>
                <i class="fa-solid fa-arrow-right" id="right_arrow_attraction"></i>
               
                </div>
                <figcaption class="figcaption-body">
                    <h4>Beaches</h4>
                    <p class="figcaption-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Unde earum consequatur voluptates! Nulla reprehenderit quibusdam, atque veritatis
                        dolorum eum beatae maiores Lorem ipsum dolor sit amet consectetur adipisicing elit
                        . Corporis, velit! Odit aperiam deserunt, ut animi, maiores quam ad molestiae quis,
                        delectus ab itaque odio error exercitationem aut ea dolores quas.


                    </p>
                </figcaption>
            </figure>
            <iframe class="attraction_map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d629.3782566334602!2d72.83584236173417!3d19.019417242095983!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cf4fadc3ed01%3A0x28676f3a8964e005!2sMarian%20Hotel!5e0!3m2!1sen!2sin!4v1659366706660!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>






        </div>
        <div class="attraction_container">
            <div>
                <figure class="attraction_container_element">
                    <img src="/images/attraction/attraction1.jpg" class="img_attraction" alt="image1">
                    <div class="figcation_attraction">
                        <figcaption>
                            <h5>Beaches</h5>
                        </figcaption>
                        <figcaption>Lorem ipsum dolor sit, amet consectetur adipisicing
                        </figcaption>
                    </div>
                </figure>
            </div>

            <div>
                <figure class="attraction_container_element">
                    <img src="/images/attraction/attraction2.jpg" class="img_attraction" alt="image1">
                    <div class="figcation_attraction">
                        <figcaption>
                            <h5>Mountains</h5>
                        </figcaption>
                        <figcaption>Lorem ipsum dolor sit, amet consectetur adipisicing
                        </figcaption>
                    </div>
                </figure>

            </div>

            <div>
                <figure class="attraction_container_element">

                    <img src="/images/attraction/attraction3.jpg" class="img_attraction" alt="image1">
                    <div class="figcation_attraction">
                        <figcaption>
                            <h5>Mountains</h5>
                        </figcaption>
                        <figcaption>Lorem ipsum dolor sit, amet consectetur adipisicing </figcaption>
                    </div>
                </figure>

            </div>

            <div>
                <figure class="attraction_container_element">

                    <img src="/images/attraction/attraction4.jpg" class="img_attraction" alt="image1">
                    <div class="figcation_attraction">
                        <figcaption>
                            <h5>Parks</h5>
                        </figcaption>
                        <figcaption>Lorem ipsum dolor sit, amet consectetur adipisicing </figcaption>
                    </div>
                </figure>

            </div>

            <div>
                <figure class="attraction_container_element">

                    <img src="/images/attraction/attraction5.jpg" class="img_attraction" alt="image1">
                    <div class="figcation_attraction">
                        <figcaption>
                            <h5>Landscape</h5>
                        </figcaption>
                        <figcaption>Lorem ipsum dolor sit, amet consectetur adipisicing </figcaption>
                    </div>
                </figure>

            </div>

            <div>
                <figure class="attraction_container_element">

                    <img src="/images/attraction/attraction7.jpg" class="img_attraction" alt="image1">
                    <div class="figcation_attraction">
                        <figcaption>
                            <h5>Bridges</h5>
                        </figcaption>
                        <figcaption>Lorem ipsum dolor sit, amet consectetur adipisicing </figcaption>
                    </div>
                </figure>
            </div>


        </div>
    </section>





    <!-- footer -->
    <footer class="footer">
        <div class="footer-container">
            <div>
                <h2>About Us </h2>
                <p> Marian manages 29 one-of-a-kind luxury hotels, resorts and residences in 17 countries, with 24 new
                    properties under development. Each Marian property embraces the brand’s A Sense of Place® philosophy
                    to reflect the individual location’s
                    history, culture and sensibilities. </p>
                <ul class="social-icons">
                    <li class="flex">
                        <i class="fa fa-twitter fa-2x"></i>
                    </li>
                    <li class="flex">
                        <i class="fa fa-facebook fa-2x"></i>
                    </li>
                    <li class="flex">
                        <i class="fa fa-instagram fa-2x"></i>
                    </li>
                </ul>
            </div>

            <div>
                <h2>Useful Links</h2>
                <a href="#">Blog</a>
                <a href="#">Rooms</a>
                <a href="#">Subscription</a>
                <a href="#">Gift Card</a>
            </div>

            <div>
                <h2>Privacy</h2>
                <a href="#">Career</a>
                <a href="#">About Us</a>
                <a href="#">Contact Us</a>
                <a href="#">Services</a>
            </div>

            <div>
                <h2>Have A Question</h2>
                <div class="contact-item">
                    <span>
                        <i class="fas fa-map-marker-alt"></i>
                    </span>
                    <span>
                        203 Fake St.Mountain View, San Francisco, California, USA
                    </span>
                </div>
                <div class="contact-item">
                    <span>
                        <i class="fas fa-phone-alt"></i>
                    </span>
                    <span>
                        +84545 37534 48

                    </span>
                </div>
                <div class="contact-item">
                    <span>
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span>
                        reservations@hotelriver.com
                    </span>
                </div>
            </div>
        </div>
    </footer>

    <script>
        $('.attraction_map').click(function () {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    console.log(position);
                })
            }
            else {
                console.log("Error")
            }

        })





    </script>
    <script src="/javascript/index.js"></script>


</body>

</html>