<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <script src="https://kit.fontawesome.com/fca5e19aaa.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/logo.png" type="image/png">

    <!-- <link rel="manifest" href="site.webmanifest"> -->

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">



    <script src="https://kit.fontawesome.com/fca5e19aaa.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/mainpage.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>







</head>

<body>


    <nav class="navbar navbar-expand-lg bg-white px-lg-3 py-lg-2 shadow-sm sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand me-5 fw-bold fs-3" href="main.ejs">
                <i class="fa-solid fa-person-walking-luggage"></i><span>Hotel Marian</span>
            </a>
            <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item me-2">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link me-2" href="#">Login</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link me-2" href="#">About</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link me-2" href="#">Contact us</a>
                    </li>
                </ul>
                <div class="d-flex" role="search">

                    <button class="btn btn-outline-success" type="submit">Search</button>
                </div>




            </div>
        </div>
    </nav>



    <!-- our rooms -->
    <div class="my-5 px-4">
        <h2 class="mt-5 pt-4 mb-4 text-center fw-bold ">OUR ROOMS</h2>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-12 mb-lg-0 mb-4 px-lg-0">
                <nav class="navbar navbar-expand-lg bg-white rounded shadow">
                    <div class="container-fluid flex-lg-column align-items-stretch">
                        <h4 class="mt-2">Filters</h4>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#filterDropDown" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse flex-column align-items-stretch mt-2 " id="filterDropDown">
                            <div class="border bg-light p-3 rounded mb-3">
                                <h5 class="mb-3" style="font-size:medium;">CHECK AVAILABILITY</h5>
                                <label class="form-label">Check-in</label>
                                <input type="date" class="form-control shadow-none mb-3">
                                <label class="form-label">Check-Out</label>
                                <input type="date" class="form-control shadow-none">
                            </div>

                            <div class="border bg-light p-3 rounded mb-3">
                                <h5 class="mb-3" style="font-size:medium;">Facilities</h5>

                                <div class="mb-2">
                                    <input class="form-check-input shadow-none me-1" type="checkbox" value="" id="f1">
                                    <label class="form-check-label" for="f1">WIFI</label>
                                </div>
                                <div class="mb-2">
                                    <input class="form-check-input shadow-none me-1" type="checkbox" value="" id="f2">
                                    <label class="form-check-label" for="f2">WIFI</label>
                                </div>
                                <div class="mb-2">
                                    <input class="form-check-input shadow-none me-1" type="checkbox" value="" id="f3">
                                    <label class="form-check-label" for="f3">WIFI</label>
                                </div>

                            </div>
                            <div class="border bg-light p-3 rounded mb-3">
                                <h5 class="mb-3 " style="font-size:medium;">Guests</h5>
                                <div class="d-flex">
                                    <div class="me-2">
                                        <label class="form-label">Adult</label>
                                        <input type="number" class="form-control shadow-none mb-3">
                                    </div>
                                    <div class="me-2">
                                        <label class="form-label">children</label>
                                        <input type="number" class="form-control shadow-none mb-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                </nav>
            </div>

            <div class="col-lg-9 col-md-12 px-4">
                <div class="card mb-4 border-0 shadow">
                    <div class="row g-0 align-items-center p-3">
                        <div class="col-md-5 mb-lg-0 mb-md-0 mb-3">
                            <img src="images/img1.jpg" class="img-fluid rounded" alt="...">
                        </div>

                        <div class="col-md-5 px-lg-3 px-md-3 px-0">
                            <h5 class="mb-3">Superior Room Room</h5>
                            <div class="features mb-3">
                                <h6>Features</h6>
                                <span class="badge rounded-pill bg-light text-dark text-wrap ">2 Rooms</span>
                                <span class="badge rounded-pill bg-light text-dark text-wrap ">1 Bathroom</span>
                                <span class="badge rounded-pill bg-light text-dark text-wrap ">1 Balcony</span>
                                <span class="badge rounded-pill bg-light text-dark text-wrap ">3 Sofa</span>
                            </div>
                            <div class="facilities mb-3">
                                <h6>Facilities</h6>
                                <span class="badge rounded-pill bg-light text-dark text-wrap ">WIFI</span>
                                <span class="badge rounded-pill bg-light text-dark text-wrap ">Television</span>
                                <span class="badge rounded-pill bg-light text-dark text-wrap ">AC</span>
                                <span class="badge rounded-pill bg-light text-dark text-wrap ">Room
                                    heater</span>
                            </div>
                            <div class="guests mb-2">
                                <h6>Guests</h6>
                                <span class="badge rounded-pill bg-light text-dark text-wrap ">5 Adults</span>
                                <span class="badge rounded-pill bg-light text-dark text-wrap ">4 Infant</span>

                            </div>
                        </div>

                        <div class="col-md-2 mt-lg-0 mt-md-0 mt-4 text-center">
                            <h6 class="mb-4">₹1200/ night</h6>
                            <a href="#" class="btn btn-primary btn-sm text-white shadow-none mb-2 w-100 ">Book Now</a>
                            <a href="#" class="btn  btn-sm btn-outline-dark shadow-none  w-100 ">More Details</a>
                        </div>
                    </div>
                </div>

                <div class="card mb-4 border-0 shadow">
                    <div class="row g-0 align-items-center p-3">
                        <div class="col-md-5 mb-lg-0 mb-md-0 mb-3">
                            <img src="images/img1.jpg" class="img-fluid rounded" alt="...">
                        </div>

                        <div class="col-md-5 px-lg-3 px-md-3 px-0">
                            <h5 class="mb-3">Superior Room Room</h5>
                            <div class="features mb-3">
                                <h6>Features</h6>
                                <span class="badge rounded-pill bg-light text-dark text-wrap ">2 Rooms</span>
                                <span class="badge rounded-pill bg-light text-dark text-wrap ">1 Bathroom</span>
                                <span class="badge rounded-pill bg-light text-dark text-wrap ">1 Balcony</span>
                                <span class="badge rounded-pill bg-light text-dark text-wrap ">3 Sofa</span>
                            </div>
                            <div class="facilities mb-3">
                                <h6>Facilities</h6>
                                <span class="badge rounded-pill bg-light text-dark text-wrap ">WIFI</span>
                                <span class="badge rounded-pill bg-light text-dark text-wrap ">Television</span>
                                <span class="badge rounded-pill bg-light text-dark text-wrap ">AC</span>
                                <span class="badge rounded-pill bg-light text-dark text-wrap ">Room
                                    heater</span>
                            </div>
                            <div class="guests mb-2">
                                <h6>Guests</h6>
                                <span class="badge rounded-pill bg-light text-dark text-wrap ">5 Adults</span>
                                <span class="badge rounded-pill bg-light text-dark text-wrap ">4 Infant</span>

                            </div>
                        </div>

                        <div class="col-md-2 mt-lg-0 mt-md-0 mt-4 text-center">
                            <h6 class="mb-4">₹1200/ night</h6>
                            <a href="#" class="btn btn-primary btn-sm text-white shadow-none mb-2 w-100 ">Book Now</a>
                            <a href="#" class="btn  btn-sm btn-outline-dark shadow-none  w-100 ">More Details</a>
                        </div>
                    </div>
                </div>

                <div class="card mb-4 border-0 shadow">
                    <div class="row g-0 align-items-center p-3">
                        <div class="col-md-5 mb-lg-0 mb-md-0 mb-3">
                            <img src="images/img1.jpg" class="img-fluid rounded" alt="...">
                        </div>

                        <div class="col-md-5 px-lg-3 px-md-3 px-0">
                            <h5 class="mb-3">Superior Room Room</h5>
                            <div class="features mb-3">
                                <h6>Features</h6>
                                <span class="badge rounded-pill bg-light text-dark text-wrap ">2 Rooms</span>
                                <span class="badge rounded-pill bg-light text-dark text-wrap ">1 Bathroom</span>
                                <span class="badge rounded-pill bg-light text-dark text-wrap ">1 Balcony</span>
                                <span class="badge rounded-pill bg-light text-dark text-wrap ">3 Sofa</span>
                            </div>
                            <div class="facilities mb-3">
                                <h6>Facilities</h6>
                                <span class="badge rounded-pill bg-light text-dark text-wrap ">WIFI</span>
                                <span class="badge rounded-pill bg-light text-dark text-wrap ">Television</span>
                                <span class="badge rounded-pill bg-light text-dark text-wrap ">AC</span>
                                <span class="badge rounded-pill bg-light text-dark text-wrap ">Room
                                    heater</span>
                            </div>
                            <div class="guests mb-2">
                                <h6>Guests</h6>
                                <span class="badge rounded-pill bg-light text-dark text-wrap ">5 Adults</span>
                                <span class="badge rounded-pill bg-light text-dark text-wrap ">4 Infant</span>

                            </div>
                        </div>

                        <div class="col-md-2 mt-lg-0 mt-md-0 mt-4 text-center">
                            <h6 class="mb-4">₹1200/ night</h6>
                            <a href="#" class="btn btn-primary btn-sm text-white shadow-none mb-2 w-100 ">Book Now</a>
                            <a href="#" class="btn  btn-sm btn-outline-dark shadow-none  w-100 ">More Details</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>














    <!-- footer -->
    <!-- <footer class="footer">
        <div class="footer-container">
            <div>
                <h2>About Us </h2>
                <p> Marian manages 29 one-of-a-kind luxury hotels, resorts and residences in 17 countries, with 24 new
                    properties under development. Each Marian property embraces the brand’s A Sense of Place® philosophy
                    to reflect the individual location’s
                    history, culture and sensibilities. </p>
                <ul class="social-icons">
                    <li class="flex">
                        <i class="fa fa-twitter fa-2x"></i>
                    </li>
                    <li class="flex">
                        <i class="fa fa-facebook fa-2x"></i>
                    </li>
                    <li class="flex">
                        <i class="fa fa-instagram fa-2x"></i>
                    </li>
                </ul>
            </div>

            <div>
                <h2>Useful Links</h2>
                <a href="#">Blog</a>
                <a href="#">Rooms</a>
                <a href="#">Subscription</a>
                <a href="#">Gift Card</a>
            </div>

            <div>
                <h2>Privacy</h2>
                <a href="#">Career</a>
                <a href="#">About Us</a>
                <a href="#">Contact Us</a>
                <a href="#">Services</a>
            </div>

            <div>
                <h2>Have A Question</h2>
                <div class="contact-item">
                    <span>
                        <i class="fas fa-map-marker-alt"></i>
                    </span>
                    <span>
                        203 Fake St.Mountain View, San Francisco, California, USA
                    </span>
                </div>
                <div class="contact-item">
                    <span>
                        <i class="fas fa-phone-alt"></i>
                    </span>
                    <span>
                        +84545 37534 48

                    </span>
                </div>
                <div class="contact-item">
                    <span>
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span>
                        reservations@hotelriver.com
                    </span>
                </div>
            </div>
        </div>
    </footer>

    <script>
        $('.attraction_map').click(function () {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    console.log(position);
                })
            }
            else {
                console.log("Error")
            }

        })





    </script> -->
    <script src="/javascript/index.js"></script>


</body>

</html>