



            <!-- footer -->
            <footer class="footer">
                <div class="footer-container">
                    <div>
                        <h2>About Us </h2>
                        <p> Marian manages 29 one-of-a-kind luxury hotels, resorts and residences in 17 countries, with 24 new properties under development. Each Marian property embraces the brand’s A Sense of Place® philosophy to reflect the individual location’s
                            history, culture and sensibilities. </p>
                        <ul class="social-icons">
                            <li class="flex">
                                <i class="fa fa-twitter fa-2x"></i>
                            </li>
                            <li class="flex">
                                <i class="fa fa-facebook fa-2x"></i>
                            </li>
                            <li class="flex">
                                <i class="fa fa-instagram fa-2x"></i>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <h2>Useful Links</h2>
                        <a href="#">Blog</a>
                        <a href="#">Rooms</a>
                        <a href="#">Subscription</a>
                        <a href="#">Gift Card</a>
                    </div>

                    <div>
                        <h2>Privacy</h2>
                        <a href="#">Career</a>
                        <a href="#">About Us</a>
                        <a href="#">Contact Us</a>
                        <a href="#">Services</a>
                    </div>

                    <div>
                        <h2>Have A Question</h2>
                        <div class="contact-item">
                            <span>
                        <i class = "fas fa-map-marker-alt"></i>
                    </span>
                            <span>
                        203 Fake St.Mountain View, San Francisco, California, USA
                    </span>
                        </div>
                        <div class="contact-item">
                            <span>
                        <i class = "fas fa-phone-alt"></i>
                    </span>
                            <span>
                        +84545 37534 48
                        
                    </span>
                        </div>
                        <div class="contact-item">
                            <span>
                        <i class = "fas fa-envelope"></i>
                    </span>
                            <span>
                    reservations@hotelriver.com
                    </span>
                        </div>
                    </div>
                </div>
            </footer>
            <script src="javascript/index.js"></script>




