<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/mainpage.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/fca5e19aaa.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/logo.png" type="image/png">

    <!-- <link rel="manifest" href="site.webmanifest"> -->

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">



    <script src="https://kit.fontawesome.com/fca5e19aaa.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/mainpage.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css"
        integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>







</head>

<body>


    <div class="header_container">
        <div class="header1">
            <div class="inner_header">
                <div class="logo_container">
                    <h1><i class="fa-solid fa-person-walking-luggage"></i><span>Hotel Marian</span></h1>
                </div>
                <ul class="navigation">
                    <a href="/">
                        <li>Home</li>
                    </a>
                    <a href="/login">
                        <li>Login</li>
                    </a>
                    <a href="/about">
                        <li>About</li>
                    </a>
                    <a href="/contact">
                        <li>Contact Us</li>
                    </a>
                </ul>
            </div>
        </div>
        <hr>
        <div class="header2">
            <div class="inner_header">
                <ul class="navigation2">
                    <a href="login/main">
                        <li>HOME</li>
                      </a>
                      <a href="login/room">
                        <li>ROOMS</li>
                      </a>
                      <a href="login/gallery">
                        <li>GALLERY</li>
                      </a>
                      <a href="login/attraction">
                        <li>ATTRACTIONS</li>
                      </a>
                      <a href="login/services">
                        <li>SERVICES</li>
                      </a>

                </ul>

            </div>
        </div>
    </div>
    <div class="hidden"></div>

        <section class="gallary mtop " id="gallary">
            
            <div class="container fluid">
                <div class="heading_top flex1">
                    <div class="heading">

                        <h2 >GALLERY</h2>
                    </div>
                  
                <div class="owl-carousel owl-theme gallery-allphotos">
                    <div class="item"><img src="/images/gallery/gallery6.jpg" alt="" class="img_item"></div>
                    <div class="item"><img src="/images/gallery/g2.jpg" alt="" class="img_item"></div>
                    <div class="item"><img src="/images/gallery/g3.jpg" alt="" class="img_item"></div>
                    <div class="item"><img src="/images/gallery/g4.jpg" alt="" class="img_item"></div>
                    <div class="item"><img src="/images/gallery/g5.jpg" alt="" class="img_item"></div>
                    <div class="item"><img src="/images/gallery/gallery7.jpg" alt=""></div>
                    <div class="item"><img src="/images/gallery/g7.jpg" alt="" class="img_item"></div>
                    <div class="item"><img src="/images/double_bed.jpg" alt="" class="img_item"></div>
                    <div class="item"><img src="/images/king size.jpg" alt="" class="img_item"></div>
                    <div class="item"><img src="/images/img1.jpg" alt="" class="img_item"></div>
                    <div class="item"><img src="/images/img2.jpg" alt="" class="img_item"></div>
                    <div class="item"><img src="/images/img3.jpg" alt="" class="img_item"></div>
                    <div class="item"><img src="/images/familysize.jpg" alt=""class="img_item"></div>
                    <div class="item"><img src="/images/gallery/gallery1.jpg" alt="" class="img_item"></div>
                    <div class="item"><img src="/images/gallery/gallery2.jpg" alt=""class="img_item"></div>
                    <div class="item"><img src="/images/gallery/gallery3.jpg" alt="" class="img_item"></div>
                </div>
            </div>
        </section>


        



            <!-- footer -->
            <footer class="footer">
                <div class="footer-container">
                    <div>
                        <h2>About Us </h2>
                        <p> Marian manages 29 one-of-a-kind luxury hotels, resorts and residences in 17 countries, with 24 new properties under development. Each Marian property embraces the brand’s A Sense of Place® philosophy to reflect the individual location’s
                            history, culture and sensibilities. </p>
                        <ul class="social-icons">
                            <li class="flex">
                                <i class="fa fa-twitter fa-2x"></i>
                            </li>
                            <li class="flex">
                                <i class="fa fa-facebook fa-2x"></i>
                            </li>
                            <li class="flex">
                                <i class="fa fa-instagram fa-2x"></i>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <h2>Useful Links</h2>
                        <a href="#">Blog</a>
                        <a href="#">Rooms</a>
                        <a href="#">Subscription</a>
                        <a href="#">Gift Card</a>
                    </div>

                    <div>
                        <h2>Privacy</h2>
                        <a href="#">Career</a>
                        <a href="#">About Us</a>
                        <a href="#">Contact Us</a>
                        <a href="#">Services</a>
                    </div>

                    <div>
                        <h2>Have A Question</h2>
                        <div class="contact-item">
                            <span>
                        <i class = "fas fa-map-marker-alt"></i>
                    </span>
                            <span>
                        203 Fake St.Mountain View, San Francisco, California, USA
                    </span>
                        </div>
                        <div class="contact-item">
                            <span>
                        <i class = "fas fa-phone-alt"></i>
                    </span>
                            <span>
                        +84545 37534 48
                        
                    </span>
                        </div>
                        <div class="contact-item">
                            <span>
                        <i class = "fas fa-envelope"></i>
                    </span>
                            <span>
                    reservations@hotelriver.com
                    </span>
                        </div>
                    </div>
                </div>
            </footer>
           
            <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js" integrity="sha512-gY25nC63ddE0LcLPhxUJGFxa2GoIyA5FLym4UJqHDEMHjp8RET6Zn/SHo1sltt3WuVtqfyxECP38/daUc/WVEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script>
                $('.owl-carousel').owlCarousel({
                        loop: true,
                        margin: 10,
                        nav: true,
                        dots: false,
                        navText: ["<i class='fas fa-chevron-left'></i>", "<i class='fas fa-chevron-right'></i>"],
                        responsive: {
                            0: {
                                items: 1
                            },
                            768: {
                                items: 2
                            },
                            1000: {
                                items: 4
                            }
                        }
                    }
        
                )
            </script>



        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"
            integrity="sha512-gY25nC63ddE0LcLPhxUJGFxa2GoIyA5FLym4UJqHDEMHjp8RET6Zn/SHo1sltt3WuVtqfyxECP38/daUc/WVEA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
            integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/javascript/index.js"></script>
    </body>

</html>