<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/mainpage.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/fca5e19aaa.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/logo.png" type="image/png">

    <!-- <link rel="manifest" href="site.webmanifest"> -->

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">



    <script src="https://kit.fontawesome.com/fca5e19aaa.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/mainpage.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">







</head>

<body>


    <nav class="header_container">
        <div class="header1">
            <div class="inner_header">
                <div class="logo_container">
                    <h1><i class="fa-solid fa-person-walking-luggage"></i><span>Hotel Marian</span></h1>
                </div>
                <ul class="navigation">
                    <a href="#">
                        <li>Home</li>
                    </a>
                    <a href="#">
                        <li>Login</li>
                    </a>
                    <a href="#">
                        <li>About</li>
                    </a>
                    <a href="#">
                        <li>Contact Us</li>
                    </a>
                </ul>
            </div>
        </div>
        <hr>
        <div class="header2">
            <div class="inner_header">
                <ul class="navigation2">
                    <a href="/login/main">
                        <li>HOME</li>
                    </a>
                    <a href="#">
                        <li>ROOMS</li>
                    </a>
                    <a href="/login/gallery">
                        <li>GALLERY</li>
                    </a>
                    <a href="/login/attraction">
                        <li>ATTRACTIONS</li>
                    </a>
                    <a href="/services">
                        <li>SERVICES</li>
                    </a>

                </ul>

            </div>
        </div>
    </nav>


    <div class="hidden">

    </div>

    <section class="main_page">


        <section id="rooms" class="rooms">
            <div class="room-element">
                <h1>Rooms</h1>



            </div>





            <div class="room_container">
                
                    <div class="row">
                        <div class="col-lg-4 col-md-6 my-3">
                            <div class="card border-0 shadow" style="max-width:350px; margin:auto;">
                                <img src="/images/img1.jpg" class="card-img-top" alt="..." style="height:250">
                                <div class="card-body">
                                    <h3>Superior Room</h3>
                                    <h6>₹1200 per night</h6>
                                    <div class="features mb-4">
                                        <h6>Features</h6>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">2 Rooms</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">1 Bathroom</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">1 Balcony</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">3 Sofa</span>
                                    </div>
                                    <div class="facilities mb-4">
                                        <h6>Facilities</h6>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">WIFI</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">Television</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">AC</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">Room
                                            heater</span>
                                    </div>
                                    <div class="guests mb-4">
                                        <h6>Guests</h6>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">5 Adults</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">4 Infant</span>

                                    </div>
                                    <div class="rating mb-4">
                                        <h6 style="color:black">Rating</h6>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap "> <i
                                                class="fa-solid fa-star text-warning"></i>
                                            <i class="fa-solid fa-star text-warning"></i>
                                            <i class="fa-solid fa-star text-warning"></i>
                                            <i class="fa-solid fa-star text-warning"></i>
                                            <i class="fa-solid fa-star-half text-warning"></i>
                                        </span>

                                    </div>
                                    <div class="d-flex">
                                        <a href="#"
                                            class="btn btn-primary btn-sm text-white shadow-none custom-bg ">Book
                                            Now</a>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 my-3">
                            <div class="card border-0 shadow" style="max-width:350px; margin:auto;">
                                <img src="/images/img2.jpg" class="card-img-top" alt="..." style="height:250">
                                <div class="card-body">
                                    <h3>Luxury Suite</h3>
                                    <h6>₹2000 per night</h6>
                                    <div class="features mb-4">
                                        <h6>Features</h6>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">2 Rooms</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">1 Bathroom</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">1 Balcony</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">1 Sofa</span>
                                    </div>
                                    <div class="facilities mb-4">
                                        <h6>Facilities</h6>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">WIFI</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">AC</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">Room
                                            heater</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">Breakfast+lunch
                                            Free</span>
                                    </div>
                                    <div class="guests mb-4">
                                        <h6>Guests</h6>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">2 Adults</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">1 Infant</span>

                                    </div>
                                    <div class="rating mb-4">
                                        <h6 style="color:black">Rating</h6>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap "> <i
                                                class="fa-solid fa-star text-warning"></i>
                                            <i class="fa-solid fa-star text-warning"></i>
                                            <i class="fa-solid fa-star text-warning"></i>
                                            <i class="fa-solid fa-star text-warning"></i>
                                            <i class="fa-solid fa-star-half text-warning"></i>
                                        </span>

                                    </div>
                                    <div class="d-flex">
                                        <a href="#"
                                            class="btn btn-primary btn-sm text-white shadow-none custom-bg ">Book
                                            Now</a>

                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="col-lg-4 col-md-6 my-3">
                            <div class="card border-0 shadow" style="max-width:350px; margin:auto;">
                                <img src="/images/img3.jpg" class="card-img-top" alt="..." style="height:250">
                                <div class="card-body">
                                    <h3>Duluxe Room</h3>
                                    <h6>₹2500 per night</h6>
                                    <div class="features mb-4">
                                        <h6>Features</h6>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">3 Rooms</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">1 Bathroom</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">1 Balcony</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">4 Sofa</span>
                                    </div>
                                    <div class="facilities mb-4">
                                        <h6>Facilities</h6>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">WIFI</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">Television</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">AC</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">Room
                                            heater</span>
                                    </div>
                                    <div class="guests mb-4">
                                        <h6>Guests</h6>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">8 Adults</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">4 Infant</span>

                                    </div>
                                    <div class="rating mb-4">
                                        <h6 style="color:black">Rating</h6>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap "> <i
                                                class="fa-solid fa-star text-warning"></i>
                                            <i class="fa-solid fa-star text-warning"></i>
                                            <i class="fa-solid fa-star text-warning"></i>
                                            <i class="fa-solid fa-star text-warning"></i>
                                            <i class="fa-solid fa-star-half text-warning"></i>
                                        </span>

                                    </div>
                                    <div class="d-flex">
                                        <a href="#"
                                            class="btn btn-primary btn-sm text-white shadow-none custom-bg ">Book
                                            Now</a>

                                    </div>

                                </div>
                            </div>


                        </div>


                        <div class="col-lg-4 col-md-6 my-3">
                            <div class="card border-0 shadow" style="max-width:350px; margin:auto;">
                                <img src="/images/king size.jpg" class="card-img-top" alt="..." style="height:250">
                                <div class="card-body">
                                    <h3>King Room</h3>
                                    <h6>₹2500 per night</h6>
                                    <div class="features mb-4">
                                        <h6>Features</h6>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">2 Rooms</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">1 Bathroom</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">1 Balcony</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">2 Sofa</span>
                                    </div>
                                    <div class="facilities mb-4">
                                        <h6>Facilities</h6>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">WIFI</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">Room
                                            heater</span>
                                        <span
                                            class="badge rounded-pill bg-light text-dark text-wrap ">Lunch+Dinner</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">King size
                                            Bed</span>
                                    </div>
                                    <div class="guests mb-4">
                                        <h6>Guests</h6>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">4 Adults</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">2 Infant</span>

                                    </div>
                                    <div class="rating mb-4">
                                        <h6 style="color:black">Rating</h6>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap "> <i
                                                class="fa-solid fa-star text-warning"></i>
                                            <i class="fa-solid fa-star text-warning"></i>
                                            <i class="fa-solid fa-star text-warning"></i>
                                            <i class="fa-solid fa-star text-warning"></i>
                                            <i class="fa-solid fa-star-half text-warning"></i>
                                        </span>

                                    </div>
                                    <div class="d-flex">
                                        <a href="#"
                                            class="btn btn-primary btn-sm text-white shadow-none custom-bg ">Book
                                            Now</a>

                                    </div>

                                </div>
                            </div>


                        </div>

                        <div class="col-lg-4 col-md-6 my-3">
                            <div class="card border-0 shadow" style="max-width:350px; margin:auto;">
                                <img src="/images/double_bed.jpg" class="card-img-top" alt="..." style="height:250">
                                <div class="card-body">
                                    <h3>Double Bed Room</h3>
                                    <h6>₹2100 per night</h6>
                                    <div class="features mb-4">
                                        <h6>Features</h6>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">3 Rooms</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">2 Bathroom</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">2 Balcony</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">4 Sofa</span>
                                    </div>
                                    <div class="facilities mb-4">
                                        <h6>Facilities</h6>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">WIFI</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">Television</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">AC</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">Room
                                            heater</span>
                                    </div>
                                    <div class="guests mb-4">
                                        <h6>Guests</h6>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">8 Adults</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">6 Infant</span>

                                    </div>
                                    <div class="rating mb-4">
                                        <h6 style="color:black">Rating</h6>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap "> <i
                                                class="fa-solid fa-star text-warning"></i>
                                            <i class="fa-solid fa-star text-warning"></i>
                                            <i class="fa-solid fa-star text-warning"></i>
                                            <i class="fa-solid fa-star text-warning"></i>
                                            <i class="fa-solid fa-star-half text-warning"></i>
                                        </span>

                                    </div>
                                    <div class="d-flex">
                                        <a href="#"
                                            class="btn btn-primary btn-sm text-white shadow-none custom-bg ">Book
                                            Now</a>

                                    </div>

                                </div>
                            </div>


                        </div>






                        <div class="col-lg-4 col-md-6 my-3">
                            <div class="card border-0 shadow" style="max-width:350px; margin:auto;">
                                <img src="/images/img2.jpg" class="card-img-top" alt="..." style="height:240">
                                <div class="card-body">
                                    <h3>Family Room</h3>
                                    <h6>₹3000 per night</h6>
                                    <div class="features mb-4">
                                        <h6>Features</h6>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">4 Rooms</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">2 Bathroom</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">2 Balcony</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">4 Sofa</span>
                                    </div>
                                    <div class="facilities mb-4">
                                        <h6>Facilities</h6>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">WIFI</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">Television</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">AC</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">Room
                                            heater</span>
                                    </div>
                                    <div class="guests mb-4">
                                        <h6>Guests</h6>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">12 Adults</span>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap ">6 Infant</span>

                                    </div>
                                    <div class="rating mb-4">
                                        <h6 style="color:black">Rating</h6>
                                        <span class="badge rounded-pill bg-light text-dark text-wrap "> <i
                                                class="fa-solid fa-star text-warning"></i>
                                            <i class="fa-solid fa-star text-warning"></i>
                                            <i class="fa-solid fa-star text-warning"></i>
                                            <i class="fa-solid fa-star text-warning"></i>
                                            <i class="fa-solid fa-star-half text-warning"></i>
                                        </span>

                                    </div>
                                    <div class="d-flex">
                                        <a href="#"
                                            class="btn btn-primary btn-sm text-white shadow-none custom-bg ">Book
                                            Now</a>

                                    </div>

                                </div>
                            </div>


                        </div>
















                    </div>
                </div>
            


        </section>










        <!-- footer -->
        <footer class="footer">
            <div class="footer-container">
                <div>
                    <h2>About Us </h2>
                    <p> Marian manages 29 one-of-a-kind luxury hotels, resorts and residences in 17 countries, with 24
                        new
                        properties under development. Each Marian property embraces the brand’s A Sense of Place®
                        philosophy
                        to reflect the individual location’s
                        history, culture and sensibilities. </p>
                    <ul class="social-icons">
                        <li class="flex">
                            <i class="fa fa-twitter fa-2x"></i>
                        </li>
                        <li class="flex">
                            <i class="fa fa-facebook fa-2x"></i>
                        </li>
                        <li class="flex">
                            <i class="fa fa-instagram fa-2x"></i>
                        </li>
                    </ul>
                </div>

                <div>
                    <h2>Useful Links</h2>
                    <a href="#">Blog</a>
                    <a href="#">Rooms</a>
                    <a href="#">Subscription</a>
                    <a href="#">Gift Card</a>
                </div>

                <div>
                    <h2>Privacy</h2>
                    <a href="#">Career</a>
                    <a href="#">About Us</a>
                    <a href="#">Contact Us</a>
                    <a href="#">Services</a>
                </div>

                <div>
                    <h2>Have A Question</h2>
                    <div class="contact-item">
                        <span>
                            <i class="fas fa-map-marker-alt"></i>
                        </span>
                        <span>
                            203 Fake St.Mountain View, San Francisco, California, USA
                        </span>
                    </div>
                    <div class="contact-item">
                        <span>
                            <i class="fas fa-phone-alt"></i>
                        </span>
                        <span>
                            +84545 37534 48

                        </span>
                    </div>
                    <div class="contact-item">
                        <span>
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span>
                            reservations@hotelriver.com
                        </span>
                    </div>
                </div>
            </div>
        </footer>
        <script src="/javascript/index.js"></script>

</body>

</html>