*{
    margin:0;
    padding:0;
    box-sizing: border-box;
   
}
.containers{
    display:flex;
    justify-content: center;
    align-items: center;

}
.login{
    position:relative;
    width:400px;
    height:520px;
    background: var(--cardColor);
    border-radius: 8px;
    margin-top:100px;
    overflow: hidden;
    
   
}
.login::before{
    cursor: pointer;
    content:"";
    position:absolute;
    width:400px;
    height:520px;
    background: linear-gradient(0deg,transparent,#fc00ff,#fc00ff);
    top:-50%;
    left:-50%;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
   z-index: 1;

}

.login::after{
    cursor: pointer;
    content:"";
    position:absolute;
    width:400px;
    height:520px;
    background: linear-gradient(0deg,transparent,#fc00ff,#fc00ff);
    top:-50%;
    left:-50%;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay:-3s;
   

}


@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.form{
    position:absolute;
    z-index: 10;
    inset:2px;
    background: var(--cardColor);
    border-radius: 8px;
    padding:50px 50px;
    display:flex;
    flex-direction: column;
    z-index: 2;
    
   
}
.form h1{
    gap:0.75rem;
   background:linear-gradient(90deg, #00dbde,#fc00ff 80%);
   -webkit-background-clip: text;
   -webkit-text-fill-color:transparent;
   font-size: xx-large;
   text-align: center;
   letter-spacing: 0.1rem;
}
.inputbox{
    position: relative;
    width:300px;
    margin-top: 30px;
}
.inputbox input{
    position:relative;
  
    cursor:pointer;
    width:100%;
    padding:20px 10px 10px ;
    background: transparent;
    border:none;
    box-shadow: none;
    outline:none;
    color:var(--cardColor);
    font-size: 1rem;
    letter-spacing: 0.05rem;
    z-index: 10;

}
.inputbox span{
    position:absolute;
    left:0;
    padding:20px 0px 10px  ;
    font-size: 0.8rem;
    color:var(--gray);
    pointer-events: none;
    letter-spacing: 0.05rem;
    transition:0.5s;

}
.inputbox input:valid ~ span,
.inputbox input:focus ~ span
{color:#fc00ff;
    transform: translateY(-34px);
    font-size: 0.9rem;
  }
.inputbox i{
    position:absolute;
    left:0;
    bottom:0;
   
    width:100%;
    height:2px;
    background: #fc00ff;
    border-radius: 4px;
    transition:0.5s;
    pointer-events: none;
    z-index:9;
}
.inputbox input:valid ~ i,
.inputbox input:focus ~ i{
    height:44px;
}
links{
    display:flex;
    justify-content: space-between;

}
links {
margin:10px 0;
font-size: 0.9rem;
color:#fc00ff;
text-decoration: none;
}

.loginbtn{
 
    border:none;
    font-weight: 600;
    width:100px;
    height:40px;
    cursor:pointer;
}

.links{
    cursor:pointer;
    margin-top: 20px;
}
.inputpassword{
    display:flex;
  
}